// Import

@import "./variables";

// Reset Stylesheet

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

// Main Code

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  background-color: $primary_color;
  height: 10rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    //   border: 1px solid rebeccapurple;
    text-align: center;
    h1 {
      font-size: 2.2rem;
    }
  }
}

main {
  // height: 80vh;
  padding: 3rem 0;
  .container {
    display: flex;
    @media screen and (max-width: 720px) {
      flex-direction: column;
      row-gap: 2rem;
      // align-items: center;
      width: 100%;
      padding: 0 2rem;
    }
    .left_main {
      flex-basis: 40%;
      // border: 1px solid rebeccapurple;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      text-align: center;
      color: $secondary_font;
      @media screen and (max-width: 720px) {
        flex-basis: 100%;
        align-items: center;
        // border: 1px solid rebeccapurple;
        flex: 1;
      }
      .profile_img {
        img {
          width: 80%;
          height: 100%;
          border-radius: 10rem;
        }
      }
      .name {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .account_option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        // border: 1px solid rebeccapurple;

        div {
          text-align: left;
          background-color: $secondary_color;
          width: 100%;
          margin-bottom: 0.4rem;
          padding: 0.5rem 0.6rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            color: $primary_color;
          }
          .ico_left {
            padding-right: 0.5rem;
          }
          p {
            // border: 1px solid rebeccapurple;
            flex: 1;
            padding-left: 0.5rem;
          }
        }
      }
    }
    .right_main {
      flex: 1;
      // border: 1px solid rebeccapurple;
      color: $secondary_font;
      display: flex;
      flex-direction: column;
      margin-left: 4rem;
      // justify-content: center;
      @media screen and (max-width: 720px) {
        // margin-left: 3rem;
        margin: 0;
      }
      h1 {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        i {
          margin-right: 0.4rem;
        }
      }

      form {
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 1rem;
          p {
            margin-bottom: 0.6rem;
            font-size: 0.8rem;
            font-weight: bold;
          }
          input {
            outline: none;
            border-radius: 4px;
            padding: 0.5rem 0.5rem;
            border: 1px solid rgba(71, 71, 71, 0.288);
            width: 80%;
            color: $secondary_font;
            @media screen and (max-width: 720px) {
              width: 100%;
            }
          }
        }
        button {
          border: none;
          background-color: $primary_color;
          color: $primary_font;
          padding: 0.6rem 1.2rem;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}
